USER_SERVICE_URL=http://localhost:8081
EVENT_SERVICE_URL=http://localhost:5002
BOOKING_SERVICE_URL=http://localhost:5003
PAYMENT_SERVICE_URL=http://localhost:5001
NOTIFICATION_SERVICE_URL=http://localhost:5005
FRONTEND_URL=http://localhost:3000
PORT=8080
GATEWAY_BASE_URL=http://localhost:8080
JWT_SECRET=supersecretkey123
JWT_EXPIRES=1h
INTERNAL_SERVICE_TOKEN=shared_service_secret

