USER_SERVICE_URL=https://user-service-url
EVENT_SERVICE_URL=https://event-service-url
BOOKING_SERVICE_URL=https://booking-service-url
PAYMENT_SERVICE_URL=https://payment-service-url
PORT=8080
GATEWAY_BASE_URL=http://localhost:8080
JWT_SECRET=supersecretkey123
JWT_EXPIRES=1h